<header>
    <nav class="border-bottom box-shadow">
        <div class="container nav-wrapper">
            <a class="brand-logo" asp-area="" asp-controller="Home" asp-action="Index">Mvc</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Usuario" asp-action="Index">Usuarios</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Usuario" asp-action="CadastroUsuario">Cadastro Usuario</a>
                </li>
            </ul>
        </div>
    </nav>
</header>