@model Crm.Application.ViewModels.LoginViewModel

<div class="container">
    <div class="row" style="padding-top: 40px">
        <div class="col hide-on-med-and-down l4 xl6 center">
            <div class="row" style="padding-right: 30px;">
                <div class="valign-wrapper">
                    <div>
                        <h3>Texto</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet tellus quis ex efficitur interdum. Nunc auctor justo ut ultrices aliquam.
                            Maecenas tempor metus ligula, sit amet consequat arcu mollis quis. Donec facilisis massa ut dolor ultricies,
                            ut posuere sapien commodo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l8 xl6 center secondary-color" style="border: black solid 1px; padding-bottom: 40px;">
            <form method="post">
                <div>
                    <h3>Login</h3>
                    <div class="input-field col s12 m12 l12 xl12 center">
                        <i class="material-icons prefix">contact_mail</i>
                        <input asp-for="Email" id="Email" type="email" class="validate" data-length="100" />
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="helper-text" data-error="E-mail invalido" data-success="Email Valido"></span>
                    </div>

                    <div class="input-field col s12 m12 l12 xl12 center">
                        <i class="material-icons prefix">contacts</i>
                        <input asp-for="Senha" id="Senha" type="password" class="validate" min="6" data-length="16" />
                        <label asp-for="Senha"></label>
                        <span asp-validation-for="Senha" class="helper-text" data-error="Número maximo de caracteres = 16"></span>
                        <span class="helper-text">tenha certeza que sua senha contenha até 15 ou pelo menos 8 caracteres, incluindo numeros, letras minusculas e letras maiusculas.</span>
                    </div>

                    <br />
                    <br />

                    <div class="input-field col s12 m12 l12 xl12">
                        <button type="submit" title="SignIn" asp-action="" class="btn teal lighten-2 center">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', function () {
            const textNeedCount = document.querySelectorAll('#Senha, #Email');

            M.CharacterCounter.init(textNeedCount);
        });

    </script>
}