@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="center-align">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
</div>

<div style="padding-bottom: 200px">

</div>