
<div class="container center">
    <br />
    <header>
        <div>
            <h2>Não Autorizado</h2>
        </div>
        <p>Usuário sem permissão para esse recurso.</p>
        <p>Entre em contato com o suporte para mais informações</p>
    </header>
</div>