<div class="container center">
    <br />
    <header>
        <div>
            <h3>Email Confirmado com Sucesso</h3>
        </div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn waves-effect">Voltar a Aplicação</a>
    </header>
</div>