<div>
    <div class="col s12 m12 l12 xl12 center center-align">
        <h2>Recuperar Senha</h2>
        <p>E-mail para recuperação de senha enviados com sucesso</p>

        <br/>
        <a asp-controller="Account" asp-action="Login" method="post" class="btn teal lighten-2 waves-effect">Login</a>
    </div>
</div>