@{
    ViewData["Contato"] = "Fatec";
}

<div class="container">
    <div class="col s12 m12 l12 xl12">
        <h2>Conta Bloqueada</h2>
        <p>Esta conta esta temporariamente bloqueada, aguarde um momento para tentar novamente ou entre em contato: @ViewData["Contato"]</p>
    </div>
</div>