@model Crm.Application.ViewModels.AccountViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Nova Senha";
}

<div class="container center">
    <br />
    <form method="post">
        <div>
            <h3>Nova Senha</h3>
        </div>
        
        <div class="row">
        <div class="input-field col s12 m12 l6 xl4 offset-xl4 offset-l3">
            <input asp-for="Email" id="Email" type="password" class="validate"/>
            <label asp-for="Email"></label>            
            <span asp-validation-for="Email" class="helper-text"></span>
        </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 l6 xl4 offset-xl4 offset-l3">
                <input asp-for="Senha" id="Senha" class="validate" min="6" data-length="16" />
                <label asp-for="Senha"></label>
                <span asp-validation-for="Senha" class="helper-text"></span>
                <span class="helper-text">tenha certeza que sua senha contenha até 15 ou pelo menos 8 caracteres, incluindo numeros, letras minusculas e letras maiusculas.</span>
            </div>
        </div>
        <div class="row">
            <div div class="input-field col s12 m12 l6 xl4 offset-xl4 offset-l3">
                <input asp-for="ConfirmarSenha" id="ConfirmarSenha" type="password" class="validate" min="6" data-length="16" />
                <label asp-for="ConfirmarSenha"></label>
                <span asp-validation-for="ConfirmarSenha" class="helper-text"></span>
            </div>
        </div>
        <div class="col s12 m12 l12 xl12 center">
            <button type="submit" title="resetar" class="btn teal lighten-2 center waves-effect">Nova Senha</button>
        </div>
    </form>
</div>