
@{
    ViewData["Title"] = "Senha Alterada";
}

<br/>
<div class="container center">
    <h3>Senha Alterada com Sucesso</h3>

    <button method="post" asp-controller="Account" asp-action="Login" class="btn teal lighten-2 center waves-effect">Login</button>
</div>
