@using Crm.Mvc.Views.Manage
@model Crm.Application.ViewModels.ManageViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h4>@ViewData["Title"]</h4>

@Html.Partial("_StatusMessage", Model.StatusMessage)

<div class="row">
    <div class="">
        <form method="post">
            <div asp-validation-summary="All" class=""></div>
            <div class="">
                <label asp-for="SenhaAntiga"></label>
                <input asp-for="SenhaAntiga" class="" />
                <span asp-validation-for="SenhaAntiga" class=""></span>
            </div>
            <div class="">
                <label asp-for="NovaSenha"></label>
                <input asp-for="NovaSenha" class="" />
                <span asp-validation-for="NovaSenha" class=""></span>
            </div>
            <div class="">
                <label asp-for="ConfirmarSenha"></label>
                <input asp-for="ConfirmarSenha" class="" />
                <span asp-validation-for="ConfirmarSenha" class=""></span>
            </div>
            <button type="submit" class="btn">Atualizar Senha</button>
        </form>
    </div>
</div>