@using Crm.Mvc.Views.Manage
@model Crm.Application.ViewModels.ManageViewModels.SetPasswordViewModel

@{
    ViewData["Title"] = "Set password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<h4>Set your password</h4>

@Html.Partial("_StatusMessage", Model.StatusMessage)

<p class="">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

<div class="row">
    <div class="">
        <form method="post">
            <div asp-validation-summary="All" class=""></div>
            <div class="">
                <label asp-for="NovaSenha"></label>
                <input asp-for="NovaSenha" class="" />
                <span asp-validation-for="NovaSenha" class=""></span>
            </div>
            <div class="">
                <label asp-for="ConfirmeSenha"></label>
                <input asp-for="ConfirmeSenha" class="" />
                <span asp-validation-for="ConfirmeSenha" class=""></span>
            </div>
            <button type="submit" class="btn">Set password</button>
        </form>
    </div>
</div>